# Configuration file for dsmr_definition.py.
# This file must be placed in the same directory as dsmr_definition.py.

[path]
    # Specify a path if it is different from the default.
    # path = /home/pi/

[files]
    # Specify the location of the standard telegram and object definitions files (Required).
    standard telegram  = /home/pi/dsmr/standard_telegram.txt
    object definitions = /home/pi/dsmr/telegram_definition.txt
    # Specify the name and location of the log file, if different from the default.
    # log = /home/pi/logs/daily_update.log

[timezone]
    # Set the timezone of the location displaying the timestamps
    #target = Europe/Amsterdam

[obis]
    # Populate the desired obis code listing.
    # Comment out the obis code lines that you do not want
    # to monitor.
    # The long text value represents the variable name as used 
    # in the monitoring script.
    #
    #              ************IMPORTANT:*************
    # dsmr_version:   1-3:0.2.8 is a required entry.
    #              ***********************************
    dsmr_version:           1-3:0.2.8
    kwh_total_in_tariff1:   1-0:1.8.1
    kwh_total_in_tariff2:   1-0:1.8.2
    kwh_total_out_tariff1:  1-0:2.8.1
    kwh_total_out_tariff2:  1-0:2.8.2
    kw_actual_in:           1-0:1.7.0
    kw_actual_out:          1-0:2.7.0
    tariff:                 0-0:96.14.0
    gas:                    0-1:24.2.1
    kw_actual_in_A:         1-0:21.7.0
    kw_actual_in_B:         1-0:41.7.0
    kw_actual_in_C:         1-0:61.7.0
    kw_actual_out_A:        1-0:22.7.0
    kw_actual_out_B:        1-0:42.7.0
    kw_actual_out_C:        1-0:62.7.0
