# Configuration file for p1_listener.py.
# This file must be placed in the same directory as p1_listener.py.

[path]
    # Specify a path if it is different from the default.
    # path = /home/pi/

[files]
    # Specify the name and full path of the standard telegram and 
    # object definitions files (REQUIRED).
    standard telegram:      dsmr/standard_telegram.txt
    object definitions:     dsmr/telegram_definition.txt
    #
    # Specify the name and relative path of the log file, if different from the default.
    # log = logs/p1_listener.log
    #
    # Write a daily log file with counter values, if a log
    # file is specified below.  If specified, then also set
    # the obis codes to be logged in the [log counters] section below.
    daily counter logfile:  logs/rrd.log

[ports]
    # Specify the USB port to be used (REQUIRED).
    p1 usb port:            /dev/ttyUSB0

[timezone]
    # Set the timezone of the location displaying the timestamps
    #target = Europe/Amsterdam

[IP telegrams]
    # If used, then host and timer are REQUIRED keys.
    # "timer" is the update interval of the IP kWh_total transmissions.
    # Also, specify at least one obis code for transmission, comment out 
    # the lines with the obis codes you do not want to use.
    # Format is     description:   obis code    port
    # Modify the port numbers as needed.
    #host:                   192.168.1.5
    #timer:                  300
    #Counter in tariff 1:    1-0:1.8.1   7111
    #Counter in tariff 2:    1-0:1.8.2   7112
    #Counter out tariff 1:   1-0:2.8.1   7113
    #Counter out tariff 2:   1-0:2.8.2   7114
    #Tariff indicator:       0-0:96.14.0 7115
    #Power in (kW):          1-0:1.7.0   7116
    #Power out (kW):         1-0:2.7.0   7117
    #Power in phase a (kW):  1-0:21.7.0  7118
    #Power in phase b (kW):  1-0:41.7.0  7119
    #Power in phase c (kW):  1-0:61.7.0  7120
    #Power out phase a (kW): 1-0:22.7.0  7121
    #Power out phase b (kW): 1-0:42.7.0  7122
    #Power out phase c (kW): 1-0:62.7.0  7123
    #Gas:                    0-1:24.2.1  7124

[websocket]
    # If used, then connection detail and timer are REQUIRED keys.
    # "timer" is the update interval of the ws kWh_total transmissions.
    # Also, specify at least one obis code for transmission, comment out 
    # the lines with the obis codes you do not want to use.
    # Format is     description:   obis code     5-char identifier
    connection detail:      ws://127.0.0.1:9000
    timer:                  300
    Counter in tariff 1:    1-0:1.8.1   L__In
    Counter in tariff 2:    1-0:1.8.2   H__In
    Counter out tariff 1:   1-0:2.8.1   L_Out
    Counter out tariff 2:   1-0:2.8.2   H_Out
    Tariff indicator:       0-0:96.14.0 Tarif
    Power in (kW):          1-0:1.7.0   P__In
    Power out (kW):         1-0:2.7.0   P_Out
    V_PhA:                  1-0:32.7.0  V_PhA
    #V_PhB:                  1-0:52.7.0  V_PhB
    #V_PhC:                  1-0:72.7.0  V_PhC
    #Power in phase A (kW):  1-0:21.7.0  Pa_In
    #Power in phase B (kW):  1-0:41.7.0  Pb_In
    #Power in phase C (kW):  1-0:61.7.0  Pc_In
    #Power out phase A (kW): 1-0:22.7.0  PaOut
    #Power out phase B (kW): 1-0:42.7.0  PbOut
    #Power out phase C (kW): 1-0:62.7.0  PcOut
    #Gas:                    0-1:24.2.1  Gas__

[database]
    # If used, then file name(s) and timer are REQUIRED keys.
    # "timer" is the update interval of the transmissions.
    # Also, specify at least one obis code for transmission, comment out 
    # the lines with the obis codes you do not want to use.
    # Only the codes for the Electricity db are entered here.
    # Format is    description:   obis code
    # Data is sent to the database in the order of obis codes as listed below.
    rrddb_e:                data/electricity.rrd
    rrddb_g:                data/gas.rrd
    timer:                  300
    Counter in tariff 2:    1-0:1.8.2
    Counter in tariff 1:    1-0:1.8.1
    Counter out tariff 2:   1-0:2.8.2
    Counter out tariff 1:   1-0:2.8.1

[log counters]
    # Specify the counters in the order to be logged.
    Counter in tariff 2:    1-0:1.8.2
    Counter in tariff 1:    1-0:1.8.1
    Counter out tariff 2:   1-0:2.8.2
    Counter out tariff 1:   1-0:2.8.1
    Gas:                    0-1:24.2.1
